@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,800&display=swap');
@import url('normalize.css');

* {box-sizing: border-box;}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-image: linear-gradient(135deg, #E1EBF1 0%, #D7C3B2 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Playfair Display', serif;
    padding: 2rem;
    /*   display: flex; */
    /* flex-direction: column; */
    /* align-items: stretch; */
}

section {
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    min-height: calc(100vh - 4rem);
    padding: 0 3rem;
    border-radius: 5px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 10rem;
    font-weight: 800;
    font-style: italic;
    margin-bottom: -0.5rem;
    line-height: 1;
    background-image: linear-gradient(135deg, #E1EBF1 10%, #D7C3B2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-left: 1rem;
}


section {
    padding: 0 2rem;
    line-height: 1.4;
}

span {
    font-size: 3rem;
    font-weight: 400;
    padding: .4rem .3rem;
    margin-right: 0.5rem;
    background-image: linear-gradient(to left, #4568dc, #b06ab3);
    background-size: 100% .5rem;
    background-position: 0 90%;
    background-repeat: no-repeat;
    /*   text-transform: uppercase; */
    transition: background-size .2s ease-in;
}

span:focus,
span:hover {
    background-size: 100% 100%;
    transition: background-size .2s ease-in;
}

.ux {
    background-image: linear-gradient(to left, #ef32d9, #89fffd);
}

.ui {
    background-image: linear-gradient(to left, #43c6ac, #f8ffae);
}

.fe {
    background-image: linear-gradient(to left, #ffafbd, #ffc3a0);
}

@media screen and (max-width: 719px) {
    h1 {
        font-size: 4rem;
        padding: 0;
        margin-bottom: 1rem;
    }
    
    span {
        font-size: 2rem;
        margin: 0.5rem 0px;
        padding: 0rem 0;
        display: inline-block;
        line-height: 1;
    }
}