@import url('https://use.typekit.net/ptg6trz.css');

* {box-sizing: border-box;}

:root {
    --text-color: #0F2248;
    --bg-color: #F0F1F7;
    --bg-fade-1: #e684ae;
    --bg-fade-2: #79cbca;
    --bg-fade-3: #77a1d3;
  }
  
  
  body {
    margin: 0;
    text-align: center;
    color: var(--text-color);
    font-family: josefin-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .a {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--bg-fade-3);
    background: -webkit-linear-gradient(to right, var(--bg-fade-1), var(--bg-fade-2), var(--bg-fade-3));
    background: linear-gradient(to right, var(--bg-fade-1), var(--bg-fade-2), var(--bg-fade-3));
    animation: bgfade 15s ease infinite;
    background-size: 400%;
  }
  
@keyframes bgfade {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

  header {
    background: var(--bg-color);
    overflow: auto;
    margin: 1rem;
    padding: 1rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
  }
  
  ul { margin: 0; padding: 0; list-style: none;}
  
  h1 {
    font-family: lust-script-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8rem;
    margin: 0
  }
  
  li {
    text-transform: uppercase;
    font-size: 1.325rem;
    line-height: 1.2;
  }